<div class="flex align-items-center flex-wrap justify-content-between">
  <div id="brand" class="lg:col-2 md:col-3">
    <a href="#">MockLab</a>
  </div>

  <div id="resources" class="flex align-items-center flex-wrap lg:col-2 md:col-3">
    <div class="lg:col-4 md:col-6">
      <a href="#">About</a>
    </div>
    <div class="lg:col-4 md:col-6">
      <a href="#">Price</a>
    </div>
    <div class=" lg:col-4 md:col-6">
      @if (this.loggedData) {
        <button class="usrBtn" (click)="userMenu.toggle($event)">{{ this.loggedData.userShortName }}</button>
      } @else {
        <a id="access" href="#">Log in</a>
      }
    </div>
  </div>
</div>


<p-popover #userMenu>
  <div class="flex flex-column conteiner-flex gap-1 w-[5rem]">
    <p-button severity="contrast" [text]="true" icon="pi pi-pencil" label="My info"></p-button>
    <p-button severity="contrast" [text]="true" icon="pi pi-pencil" label="Organization's info"></p-button>
    <hr>
    <p-button severity="warn" [text]="true" icon="pi pi-sign-out" iconPos="right" label="Log out" (onClick)="logout($event, userMenu)"></p-button>
  </div>
</p-popover>