/* dark styling of the editor */
:host ::ng-deep div.jsoneditor,
:host ::ng-deep div.jsoneditor-menu {
  border-color: #353535;
  color: #171717;
}
:host ::ng-deep div.jsoneditor-menu {
  background-color: #303030;
}
:host ::ng-deep div.jsoneditor-tree,
:host ::ng-deep div.jsoneditor textarea.jsoneditor-text {
  background-color: #666666;
  color: white;
}
:host ::ng-deep div.jsoneditor-field,
:host ::ng-deep div.jsoneditor-value {
  color: #ff0000;
}
:host ::ng-deep table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

:host ::ng-deep tr.jsoneditor-highlight,
:host ::ng-deep tr.jsoneditor-selected {
  background-color: #808080;
}

:host ::ng-deep div.jsoneditor-field[contenteditable=true]:focus,
:host ::ng-deep div.jsoneditor-field[contenteditable=true]:hover,
:host ::ng-deep div.jsoneditor-value[contenteditable=true]:focus,
:host ::ng-deep div.jsoneditor-value[contenteditable=true]:hover,
:host ::ng-deep div.jsoneditor-field.jsoneditor-highlight,
:host ::ng-deep div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

:host ::ng-deep div.jsoneditor-field.highlight-active,
:host ::ng-deep div.jsoneditor-field.highlight-active:focus,
:host ::ng-deep div.jsoneditor-field.highlight-active:hover,
:host ::ng-deep div.jsoneditor-value.highlight-active,
:host ::ng-deep div.jsoneditor-value.highlight-active:focus,
:host ::ng-deep div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

:host ::ng-deep div.jsoneditor-tree button:focus {
  background-color: #868686;
}

/* coloring of JSON in tree mode */
:host ::ng-deep div.jsoneditor-readonly {
  color: #acacac;
}
:host ::ng-deep div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
:host ::ng-deep div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
:host ::ng-deep div.jsoneditor-value.jsoneditor-object,
:host ::ng-deep div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
:host ::ng-deep div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
:host ::ng-deep div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
:host ::ng-deep div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
:host ::ng-deep div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}

:host ::ng-deep div.ace_content {
  color: white;
  background-color: #dadada;
}
